name: Build through reusable workflow

# This workflow is mandatory in all applications
# https://developers.ledger.com/docs/device-app/integration/requirements/development#workflows
#
# More information on the guidelines can be found in the repository:
# LedgerHQ/ledger-app-workflows/

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
      - develop
      - dev # for safety reasons
  pull_request:

jobs:
  build_application:
    name: Build application using the reusable workflow
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_build.yml@v1
    with:
      builder: "ledger-app-builder"
